::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar {
    background: #111827;
}

::-webkit-scrollbar-thumb {
    background: #3b82f6;
    border-radius: 20px
}

body {
    overflow: hidden;
}

.message-animation {
    animation: pop 0.2s ease;
}

@keyframes pop {

    from {
        transform: scale(0.9);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.onile-dote {

    width: 10px;
    height: 10px;

    background: #22c55e;

    border-radius: 50%;
}